dl.art-type-list dt {
    position: relative;
    padding-left: 30px;
    /* LTR */
    padding-top: 9px;
    border-top: 1px solid #ccc;
    margin-left: 0;
    /* LTR */
    margin-bottom: 10px;
    background: url(../images/list-item.png) no-repeat 0 11px;
    /* LTR */
    list-style-type: none;
    list-style-image: none;
    /*background-color: red;*/
    margin: 11px;
}
dl.art-type-list dt:first-child {
    border-top: 0;
}
/*

div.content {
    padding: 20px;
}*/
